
*{
    margin: 0;
    padding-top: 0;
}

.container{
    background-image: url('../css/img/meal-a.jpg');
    max-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:"Arial", Serif;
    background-color: #f4f4f4;
    opacity: 0.9;
    /* if you don't want your side nav to show */
    overflow-x: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 100%;
    padding: 0;
}



/* previous navbar styles */
/*.navbar{
background-color: #4ba90624;
overflow: hidden;
height: 63px;
height: 60px;
position: relative;
}



.navbar a{
    float: left;
    display: block;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.navbar ul li{
    margin: 8px 0 0 0;
    list-style: none;
    position: relative;

}

.navbar a:hover{
    background-color: #ddd;
    color: #000;
}

.side-nav{
    height: 100%;
    width:0;
    position:fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition:0.5s;
   
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    width: 150px;
    text-decoration: none;
    font-size: 22px;
    color:#ccc;
    display:block;
    transition: 0.3s;
}

.side-nav a:hover{
    color: #fff;
    background-color: #111;
}
.side-nav .btn-close{
    position: absolute;
    top:0;
    right:22px;
    font-size: 36px;
    margin-left:50px;
}

.dropdown li{
background-color: #fff;
color: #000;
    display: block;
    position: absolute;
    width: 150px;
}

*/

nav{
    width: 100%;
    height: 60px;
    color: #fff;
    background-color:#df4407;
}

nav p{
    font-family: Arial;
    color:#fff;
    font-size: 24px;
    line-height: 55px;
    float:left;
     padding: 0 20px;
}

nav ul{
    float: left;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-family: Arial;
    color:#fbfbfb;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
    display: block;
}


nav ul li ul li {
   width: 150px;
   border-radius: 4px;
 }

nav ul li ul li a{
   padding: 8px 14px;
}

nav ul li ul li a:hover{
    color: #222;
    background-color: #f3f3f3;
 }

#main{
    /* margin-top: 40px;
    margin-left: 100px; */
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: auto;
    margin: 70px 70px auto;
    background-color: #df4407a6;

}




h1{
    color: #f7c01b;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    /*background-color: #e6b93324;*/
    width: 100%;
}

.readMore{
    margin-left: 450px;

}
#readMore{
    background-color: #4ba906c4;
    color:#fff;
    border-radius:10px;
    padding: 16px;
    font-size:14px;
    margin:20px; 

}

#readMore a{
    text-decoration: none;
    color: rgb(236, 235, 128);
}

#btn-signin{
   margin-left: 450px;
}


/*home page button styles*/
/*
#register{
    background-color:#df4407bd;
    color:#fff;
    border-radius:10px;
    padding: 8px;
    font-size:14px;
}

#register a{
    text-decoration: none;
    color: #fff;
}


#login{
    background-color:#8a630980;
    color:#fff;
    border-radius:10px;
    padding: 8px;
    font-size:14px;
}

#login a{
    text-decoration: none;
    color: #fff;
}
*/


#para{
    width: 100%;
    text-align: center;
    color: #fbfbfbba;
    line-height: 2em;
    font-size: 20px;
    /*background-color: #8614008f;*/
    
}


input[type=text] {
    width: 60%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password] {
    width: 60%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit]{
    border-radius: 10px;
    padding: 10px 5px;
    background-color: #df4407;
    color: #fff;
}
/* Manage meals styles */
label{
display: block;
/*margin-left:140px;*/
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size:15px;
}

/* Add meal styles */
.add-meal{
    background: #f3f3f3;
}

.addmeal-form{
    margin:50px auto;
    padding: 2%; 
}
#addmeal{
    margin-left:232px;  
}


/* Edit meal styles */
.edit-meal{
    background: #f3f3f3;
}

.editmeal-form{
    margin-left:50px;
    padding: 1%; 
}
#editmeal{
    margin-left:232px;  
}



/* login page styles */
.login-page{
    width: 460px;
    padding: 3%;
    margin: 50px auto;
    background-image: url('../css/img/login-bg.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    
}

#btn-login{
    margin-left:80px; 
}

.message{
    text-align: center;
    margin: 5px 10px;
    padding: 10px;
    background: rgb(238, 96, 40);
}

.message span{
    color: #fff;
    font-size: 16px;
}


/* Register page styles */

.register-form{
    width: 460px;
    padding: 3%;
    margin:  50px auto;
    background-image: url('../css/img/login-bg.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    
}
.btn-register{
    margin-left:10px; 
}


/* media queries */
@media only screen and (max-width: 600px) {
    #main{
        display: flex;
        justify-content: center;
        width: auto;
        margin: 20px 20px auto;
    }
   
   
}